.author-chip-container {
	border: 1px solid #ddd;
}

.author-avatar {
	background-repeat: no-repeat;
	background-size: cover;
	height: 96px;
	width: 96px;
	border-radius: 50%;
	margin: 20px;
}

.author-avatar.avatar-large {
	height: 240px;
	width: 240px;
}

.author-more-btn {
	background-color: #ff851d !important;
	width: 100%;
}

.authors-header {
	margin-bottom: 15px;
}

.author-website-logo {
	width: 120px;
}

.btn-read-more-container {
	width: 100%;
	position: relative;
	padding: 10px;
}