.product-description {
	margin-top: 20px;
}

.woocommerce-tabs {
	margin-bottom: 50px;
}

.share-section {
	margin: 20px 0;
}

.share-section div {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	width: 40px;
	cursor: pointer;
	background-color: #823fd9;
	color: white;
	font-size: 18px;
	border-radius: 50%; 
}

.share-section div > i {
	cursor: pointer;
}